.game {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#87CEEB, #E0F6FF);
  border-bottom: 80px solid rgb(24, 174, 24);
  margin: 0 auto;
  overflow: hidden;
}

.clouds-gamer {
  width: 400px;
  top: 30px;
  position: absolute;
  /* Usado para fazer as nuvens se mexerem infinitamente tendo duração de 20 segundos e o linear para ele continuar seguindo sem parar ou diminuir a velocidade. */
  animation: clouds-animation 20s infinite linear;
}

.super-mario {
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Não está criado no HTML, vai ser acessado e modificado via Javascript. */
.jump-mario {
  /* Usado para fazer o Mario pular a cada 500 metros por segundo e quando chegar no final do pulo ele vai dar um leve delay. */
  animation: mario-animation 500ms ease-out;
}

.pipe-game {
  width: 65px;
  position: absolute;
  bottom: 0;
  /* Usado para fazer o cano verde se mexer infinitamente tendo duração de 2 segundos e o linear para ele continuar seguindo sem parar ou diminuir a velocidade. */
  animation: pipe-animation 2s infinite linear;
}

.score, .aviso-paragrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 2;
  font-size: 22px;
}

.tela-inicial {
  width: 100%;
  height: 100%;
  background-image: url('../images/tela-inicial.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 999;
}

.fundo-preto {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.imagens, .score {
  display: none;
}

.nome-jogo {
  width: 40%;
}

.frase-inicio {
  animation: pisca-pisca 1.5s linear infinite;
  font-size: 30px;
  margin-top: -100px;
  color: #FFF;
}

.created {
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  color: #FFF;
}


@media (min-width: 320px) and (max-width: 768px) {
  .pipe-game {
    animation: pipe-animation 1.5s infinite linear;
  }

  .nome-jogo {
    width: 90%;
  }

  .frase-inicio {
    margin-top: -70px;
    text-align: center;
  }
}

